.swiper {
  width: 100%;
  height: 100%;
  --swiper-theme-color: #333;
  --swiper-pagination-color: #ffffff;
  --swiper-navigation-size: 30px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  border: 2px solid transparent;
  transition: border 0.5s ease, background-color 0.5s ease;
  padding: 18px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border: 1.5px solid rgba(0, 0, 0, 0.5);
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
  box-shadow: none;
}